body{
    margin:0;
    padding:0;
    background-color: #efecec;
  }
  
  .left{
    position: absolute;
    left: 30px;
  }
  
  .right{
    position: absolute;
    right: 20px;
    margin:0;
  }
  
  .right ul{
    list-style: none;
    
  }
  .right li{
    margin-top: 0;
    padding: 15px 30px;
    padding-right: 100px;
    display: inline-block;
  }


  .right li a{
    text-decoration: none;
    color:darkslategray;
    font-size: 18px;
  }
 
  #header-img{
    width: 28%;
    padding-top:25px;
  }

  #container{
    padding:80px;
    
  }
  #container h1{
    text-align: center;
  }

  #container form{
    text-align: center;
  }

  #container input{
    width: 20%;
    padding:5px;
  }

  #container .btn {
    font-size: 1em;
    font-weight: 900;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    width: auto;
    background-color: #f1c40f;
  }
  .icon {
    width: 30%;
 font-weight: 200;
 font-size:1.5em;
 color: #fcac01;
 font-style: normal;
 -webkit-font-smoothing: antialiased;
 display: inline-block;
 font-style: normal;
 font-variant: normal;
 text-rendering: auto;
 line-height: 1;
 padding-top: 100px;
}

  h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.containt {
width: 70%;
  text-align: left;

}
.sub-container {
display: flex ;
flex-direction: column;


}